/**Used to auto-position and modify footer*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main{
    flex: 1 0 auto;
}

blockquote{
	border-color: #2196f3 !important;
}

#footer{
	opacity: 0.95;
}
#copyright{
	opacity: 0.95;
}
/***/

#nav-bar{
	z-index:999;
}
.file-card{
	cursor:pointer;
}

.post-card{
	margin:0 0.5rem;
}

.post-title p{
	line-height: 2rem;
}

.no-shadow{
	box-shadow:none;
}

.place-holder{
	height: 2rem;
}

.no-margin{
	margin:0 !important;
}

.no-padding{
	padding:0 !important;
}

.pointer{
	cursor: pointer;
}

.post-title{
	margin-bottom: 1.5rem;
}

/*Used in Error Pages*/
.error-status-bar{
	margin:0;
}
.error-status-bar div{
	border-radius: 4px 4px 0 0;
	height:0.8rem;
}
.about-intro i{
	position: relative;
	top:0.4rem;
}
