/**Used to auto-position and modify footer*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main{
    flex: 1 0 auto;
}

#footer{
	opacity: 0.95;
}
#copyright{
	opacity: 0.95;
}
/***/

#nav-bar{
	box-shadow: none;
	opacity:0.95;
	z-index:999;
}
.file-card{
	cursor:pointer;
}
.content-card{
	box-shadow:none;
	background: rgba(66,66,66,0.9);
}
.content-card img{
	max-width: 100%;
	max-height: 100%;
}

.content-title{
	margin-bottom: 0.5rem;
}

.no-shadow{
	box-shadow:none;
}

.place-holder{
	height: 2rem;
}

.no-margin{
	margin:0 !important;
}

.no-padding{
	padding:0 !important;
}

.pointer{
	cursor: pointer;
}

.post-title{
	margin-bottom: 1.5rem;
}

/*Used in Error Pages*/
.error-status-bar{
	margin:0;
}
.error-status-bar div{
	border-radius: 4px 4px 0 0;
	height:0.8rem;
}